
.IbexGreen{
  background-color: #044900;
  color: white;
}
.IbexBlack{
  background-color: #231f20;
  color:white;  
}
.IbexGray{
  background-color: #bdc2bf;
  color:black;
}

html{
    height:100%
  }
  body{
    height:100%;
  }
  .intro{
    height:100%
  }
  
  .left{
    font-size: 20px;
    display : flex;
    justify-content : center;
    align-items : center;
    /* background-color:#0f0e0e; */
    height : 100%;
    color : #FFF;
    background: rgba(7, 7, 7, 0.8);
  }
  .right{
      
    /* display : flex; */
    justify-content : center;
    align-items : center;
    background-color:#FFF;
    height : 100%;
    color : #3d231b;
  }
  @media (max-width: 1200px) { 
    .left{
      height:50%
    }
    .right{
      height:50%
    }
  }
  