<div class="container">
    <h1>IBEX Mercado</h1>
    <p>IBEX Mercado es el puente en Guatemala hacia la nueva economía digital. Es una plataforma en línea donde puedes vender y comprar bitcoin con quetzales, en tiempo real.</p>
    <p>Estamos trabajando para brindarte la mejor experiencia en cripto monedas por lo que nuestro sitio se encuentra en construccion</p>
    <div class="center">
        <hr>
        <p>Si tienes alguna duda, puedes escribirnos llenando el siguiente formulario</p>
        <label>Nombre</label>
        <input  type="text" class="md-textarea form-control" [(ngModel)]="nombre"><br>  
        <label>Correo electronico o telefono para contactarte</label>
        <input  type="text" class="md-textarea form-control" [(ngModel)]="fromEmail"><br> 
        <label>Duda o Comentario</label>
        <textarea type="text" ti class="md-textarea form-control" mdbInput [(ngModel)]="msg"></textarea><br>
        <button class="btn btn-primary" (click)="enviarForma()" >Enviar</button>
    </div>
    <hr>
    
    <h2 >Contacto</h2>
    <h3>info@ibexcm.com</h3>
    <h3>+502 22966350</h3>
  </div>
  