<div class="">
    <section class="intro">
        <div class="col-lg-6 col-sm-12 left">
            <div>
                <!-- <img src='assets/buildings.jpg' > -->

                <p>Apreciable cliente,</p>
                <p>Nuestra plataforma de mercado automatizada se encuentra temporalmente en mantenimiento. Estamos
                    trabajando duro para restablecer el servicio con tecnología de punta para que nuevamente puedas
                    vender y comprar bitcoin en línea.</p>
                <p>Por el momento ponemos a tu disposición nuestro servicio de mostrador. Llena el formulario a la
                    derecha y nos pondremos en contacto a la brevedad.</p>
                <p>Recuerda que también nos puedes contactar a través de cualquiera de nuestras redes sociales y nuestro
                    canal de soporte.</p>
                <p>Gracias por tu comprensión.</p>
                <p>IBEX Mercado</p>

            </div>

        </div>

        <div class="divopaco col-lg-6 col-sm-12 right">
            <div class="center-block text-center">
                <h2>Venta de Mostrador</h2>
                <h4>Servicio personalizado confiable y seguro.</h4>
            </div>

            <!-- <div class="input-group col-lg-6 ">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="nombre" type="text" class="md-textarea form-control" name="nombre" placeholder="Nombre"
                    [(ngModel)]="nombre">
            </div>
            <div class="input-group col-lg-6">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="email" type="text" class="md-textarea form-control" name="email" placeholder="Email"
                    [(ngModel)]="fromEmail">
            </div>

            

            <div class="input-group col-lg-6">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                <input id="telefono" type="text" class="md-textarea form-control" name="telefono" placeholder="Telefono"
                    [(ngModel)]="telefono">
            </div>

            <div class="input-group col-lg-6">
                <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                <input id="message" type="text" ti class="md-textarea form-control" name="message" placeholder="Mensaje"
                    mdbInput [(ngModel)]="msg">
            </div>
            <hr>
            <button class="btn  IbexGreen btn-lg text-center center-block" (click)="enviarForma()"> Enviar Mensaje
            </button>
            <hr><br> -->


            <div class="main">
                <form action="#" method="post" id="form-box">
                    <div class="username">
                        <i class="fa fa-user fa-fw" id="icon"></i>
                        <input type="text" name="nombre" class="inp" placeholder="Nombre" required autofocus
                            [(ngModel)]="nombre">
                    </div>

                    <div class="username">
                        <i class="fa  glyphicon-envelope fa-fw" id="icon"></i>
                        <input type="text" name="email" class="inp" placeholder="Email" required name="email"
                            placeholder="Email" [(ngModel)]="fromEmail">
                    </div>

                    <div class="username">
                        <i class=" fa  fa-phone fa-fw " id="icon"></i>
                        <input type="text" name="telefono" class="inp" placeholder="Telefono" required name="telefono"
                            placeholder="Telefono" [(ngModel)]="telefono">
                    </div>

                    <div class="username">
                        <i class=" fa  fa-comment fa-fw " id="icon"></i>
                        <!-- <input type="text" name="mensaje" class="inp" placeholder="Mensaje" required name="mensaje" placeholder="Mensaje"
                        [(ngModel)]="msg"> -->
                        <textarea id="msg" name="mensaje" class="inpTxtArea" placeholder="Mensaje" required
                            name="mensaje" placeholder="Mensaje" [(ngModel)]="msg" rows="3" cols="40"></textarea>
                    </div>


                    <div class="clear"></div>
                    <!-- <input type="submit" name="submit" value="SIGN IN" id="sub-btn"> -->
                    <button class="btn  IbexGreen btn-lg text-center center-block" (click)="enviarForma()"> Enviar
                        Mensaje
                    </button>
                </form>
            </div>
            <div class="center-block text-center">
                <a href="https://www.facebook.com/MercadoIbex/" target="_blank"
                    class="fa fa-facebook fa-2x "></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://twitter.com/MercadoIbex" class="fa fa-twitter fa-2x "
                    target="_blank"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.linkedin.com/company/ibex-mercado/" class="fa fa-linkedin fa-2x "
                    target="_blank"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>

    </section>

</div>