<div class="container">
    
    <div class="left ">
        <div>
            <br><br><br>   
            <p>Apreciable cliente,</p>
            <p>Nuestra plataforma de mercado automatizada se encuentra temporalmente en mantenimiento. Estamos trabajando duro para restablecer el servicio con tecnología de punta para que nuevamente puedas vender y comprar bitcoin en línea.</p>
            <p>Por el momento ponemos a tu disposición nuestro servicio de mostrador. Llena el formulario a la derecha y nos pondremos en contacto a la brevedad.</p>
            <p>Recuerda que también nos puedes contactar a través de cualquiera de nuestras redes sociales y nuestro canal de soporte.</p>
            <p>Gracias por tu comprensión.</p>
            <p>IBEX Mercado</p>
            <br><br><br>
        </div>
    
    </div>
    





    <div class="right center">
        <hr>
        <h1>Venta de Mostrador</h1>
        <h4>Servicio personalizado confiable y seguro.</h4>
        <hr>
        <label>Nombre</label>
        <input  type="text" class="md-textarea form-control" [(ngModel)]="nombre"><br>  
        <label>Correo electronico o telefono para contactarte</label>
        <input  type="text" class="md-textarea form-control" [(ngModel)]="fromEmail"><br> 
        <label>Duda o Comentario</label>
        <textarea type="text" ti class="md-textarea form-control" mdbInput [(ngModel)]="msg"></textarea><br>
        <button class="btn btn-primary" (click)="enviarForma()" >Enviar</button>
    </div>
    <hr>
    
    <h2 >Contacto</h2>
    <h3>info@ibexcm.com</h3>
    <h3>+502 22966350</h3>
  </div>
  